
:root{
  
}
body {
  margin-top: 80px;
  font-family:'Courier New', Courier, monospace;
  display:flex;
  justify-content:center;
  align-items:center;
  color:gold;
}

article {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background: black;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:5s;
}
img {
  width:20em;
  max-height: 20em;
  border-radius:20em;
  border:2px solid gold;
  margin-right: 10px;
  margin-left: 30px;
  margin-top:1rem;
  
}

.naam-image{
  display: flex;
  flex-direction: row;
}

.naam{
  margin-left: 20px;
  margin-top: 100px;
  font-size: 30px;
}

.beschrijving{
  margin-left: 20px;
}

